.select__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
.select__title_light {
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    font-size: 12px;
}

.select__title_dark {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-size: 12px;
}
  
.select_light {
    height: 30px;
    font-size: 15px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.select_dark {
    height: 30px;
    font-size: 15px;
    padding: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}