.slider {
    width: 58.5%;
    border-top: 1px solid rgba(218, 218, 218, 1);
    margin: 0 auto;
}
.slider__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
/* Left */
.slider__left {
    gap: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider__arrow-left {
    display: flex;
}
.slider__left_main {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.slider__left_main-btn_light,
.slider__left_main-btn_dark {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(49, 48, 55, 1);
}
.slider__left_main-btn_dark {
    color: rgba(141, 142, 151, 1);
}
/* .slider__left_main-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(141, 142, 151, 1);
} */

/* Right */
.slider__right {
    gap: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.slider__arrow-right {
    display: flex;
}
.slider__right_main {   
    display: flex;
    gap: 8.5px;
    flex-direction: column;
}
.slider__right_main-btn_light,
.slider__right_main-btn_dark {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(49, 48, 55, 1);
}
.slider__right_main-btn_dark {
    color: rgba(141, 142, 151, 1);
}
/* .slider__right_main-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(141, 142, 151, 1);
} */